---
layout: default
title: Início
---

<div class="home-wrapper">

  <!--<h1 class="page-heading">Posts</h1>-->

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li class="post__wrapper">
        {% if post.featured | limit: 1 %}
          <div class="post post--featured">
            <img src="{{ post.image }}" class="post__background" alt="{{ post.title }}">
            <div class="post__container">
              <span class="post__meta">{{ post.date | date: "%d/%m/%y" }}</span>
              <h2 class="post__title">
                <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.heading }}</a>
              </h2> <!-- /.post__title -->
              <!--<ul class="post__tags">
                {% for tag in post.tags %}
                  <li class="post__tag">{{ tag }}</li>
                {% endfor %}
              </ul> <!-- /.post__tags -->
              <p class="post__excerpt">{{ post.description }}</p>
              <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn--post__cta">Ler mais</a>
            </div> <!-- /.post__content -->
          </div> <!-- /.post -->
          {% else %}
          <div class="post">
            <div class="post__container">
              <span class="post__meta">{{ post.date | date: "%d/%m/%y" }}</span>
              <h2 class="post__title">
                <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2> <!-- /.post__title -->
              <!--<ul class="post__tags">
                {% for tag in post.tags %}
                  <li class="post__tag">{{ tag }}</li>
                {% endfor %}
              </ul> <!-- /.post__tags -->
              <p class="post__excerpt">{{ post.description }}</p>
              <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn--post__cta">Ler mais</a>
            </div> <!-- /.post__content -->
          </div> <!-- /.post -->
          <hr class="post__divider">
        {% endif %}
      </li> <!-- /.post__wrapper -->
    {% endfor %}
  </ul> <!-- /.post-list -->

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a class="btn btn--newer-posts" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Mais recentes</a>
      {% endif %}

      {% if paginator.next_page %}
        <a class="btn btn--older-posts" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Mais antigos</a>
      {% endif %}
    </div> <!-- /.pagination -->
  {% endif %}

</div> <!-- /.home -->
