<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Ser Confeiteira</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!--<base href="http://serconfeiteira.com/">-->

  <meta name="application-name" content="Ser Confeiteira">
  <meta name="keywords" content="blog,confeitaria,confeiteira,doces,doces finos,doces profissionais,receitas,encomendas,eventos,aniversarios,casamentos,dicas">
  <meta name="description" content="Esse espaço foi criado para compartilhar as experiências e aprendizados de Samara Saheli no mundo da confeitaria e dar dicas para ajudar quem está começando.">
  <meta name="subject" content="Blog sobre o dia-a-dia de uma confeiteira.">
  <meta name="robots" content="index,follow,noodp">
  <meta name="googlebot" content="index,follow">
  <meta name="google" content="nositelinkssearchbox">
  <meta name="classification" content="entertainment">
  <meta name="url" content="http://serconfeiteira.com/">
  <meta name="identifier-URL" content="http://serconfeiteira.com/">
  <meta name="category" content="">
  <meta name="coverage" content="Worldwide">
  <meta name="distribution" content="Global">
  <meta name="rating" content="General">

  <!-- Facebook/Open Graph -->
  <meta property="fb:app_id" content="123456789">
  <meta property="og:url" content="https://serconfeiteira.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Ser Confeiteira">
  <meta property="og:image" content="assets/images/favicon/android-icon-192x192.png">
  <meta property="og:description" content="Esse espaço foi criado para compartilhar as experiências e aprendizados de Samara Saheli no mundo da confeitaria e dar dicas para ajudar quem está começando.">
  <meta property="og:site_name" content="Ser Confeiteira">
  <meta property="og:locale" content="pt_BR">
  <meta property="article:author" content="Samara Saheli">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@serconfeiteira">
  <meta name="twitter:creator" content="@samarasaheli">
  <meta name="twitter:url" content="https://serconfeiteira.com/">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Ser Confeiteira">
  <meta name="twitter:description" content="Esse espaço foi criado para compartilhar as experiências e aprendizados de Samara Saheli no mundo da confeitaria e dar dicas para ajudar quem está começando.">
  <meta name="twitter:image" content="assets/images/favicon/android-icon-192x192.png">

  <!-- Google+/Schema.org -->
  <link href="https://plus.google.com/+SerConfeiteira" rel="publisher">
  <meta itemprop="name" content="Ser Confeiteira">
  <meta itemprop="description" content="Esse espaço foi criado para compartilhar as experiências e aprendizados de Samara Saheli no mundo da confeitaria e dar dicas para ajudar quem está começando.">
  <meta itemprop="image" content="assets/images/favicon/android-icon-192x192.png">

  <!-- Personal info -->
  <link rel="me" href="https://www.facebook.com/samara.saheli" type="text/html">
  <link rel="me" href="mailto:sa.saheli@gmail.com">
  <link rel="me" href="whatsapp://+5511996241010">

  <!-- Favicons -->
  <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">

  <!-- Apple/iOS -->
  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">

  <!-- Windows 8 App -->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
