<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@serconfeiteira">
<meta name="twitter:creator" content="@samarasaheli">
<meta name="twitter:url" content="http://serconfeiteira.com/">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Ser Confeiteira">
<meta name="twitter:description" content="Esse espaço foi criado para compartilhar as experiências e aprendizados de Samara Saheli no mundo da confeitaria e dar dicas para ajudar quem está começando.">
<meta name="twitter:image" content="assets/images/favicon/android-icon-192x192.png">
