/* ============================== *\
 * About Page
\* ============================== */

.about-page {
  margin: 3rem auto;
  width: $post-snippet-content-width;
}

.about__title {
  margin-top: 0;
  margin-bottom: 2rem;
}

.about__photo {
  height: 150px;
}
