/* ============================== *\
 * Contact Page
\* ============================== */

.contact-section {
  margin: 1rem auto;
  width: 90%;

  @media only screen and (min-width: $breakpoint-sm) {
    margin: 3rem auto;
    width: $post-snippet-content-width;
  }
}

.form-item {
  margin: 1.5rem 0;
}

.contact-label {
  display: block;
  text-align: left;
}

.contact-input {
  border: 2px solid color(gray);
  border-radius: 6px;
  display: block;
  outline: none;
  padding: .5rem .75rem;
  transition: all .4s ease-in-out;
  width: 90%;

  &:focus {
    border-color: color(red);
  }

  @media only screen and (min-width: $breakpoint-sm) {
    width: 100%;
  }
}

.contact-input--message {
  vertical-align: top;
}
