/* ============================== *\
 * Home Page (Blog)
\* ============================== */

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    color: color(gray);
}

.post-link {
    display: block;
    font-size: 24px;
}
