/* ============================== *\
 * Home Page (Blog)
\* ============================== */

.home-wrapper {
  //padding: 2rem 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}
