/* ============================== *\
 * Single Post
\* ============================== */

.post-page {}

.post-page .post-list .post--featured .post__content {
  padding-top: 8rem;
}

.post-page .post__title {
  font-size: 40px;;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.post-page .post-content {
  margin: 3rem auto;
  width: $post-snippet-content-width;
}

.post-page {}
