/* ============================== *\
 * Colors
\* ============================== */

$colors: (
  black: #333,
  gray: #828282,
  gray-dark: darken(#828282, 25%),
  gray-light: lighten(#828282, 40%),
  red: #e44,
  white: #fff
);
