/* ============================== *\
 * Footer
\* ============================== */

/*
 * Site footer
 */
.site-footer {
  background-color: color(black);
  color: color(white);
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: $spacing-unit/4 0;
  text-align: center;
}

.site-footer p {}
