/* ============================== *\
 * Header
\* ============================== */

$header-height--sm: 60px;
$header-height--lg: 120px;

/*
 * Site header
 */
.site-header {
  border-bottom: 3px solid color(red);
  height: $header-height--sm;
  padding: 10px 0;

  @media only screen and (min-width: $breakpoint-sm) {
    height: $header-height--lg;
  }
}

.site-header__link {
  line-height: $header-height--sm;

  &:hover {
    text-decoration: none;
  }

  @media only screen and (min-width: $breakpoint-sm) {
    line-height: $header-height--lg;
  }
}

.site-header__logo {
  cursor: pointer;
  height: auto;
  width: 180px;

  @media only screen and (min-width: $breakpoint-sm) {
    height: 80px;
    width: auto;
  }
}

/*
 * Navigation bar
 */
.nav {
  display: inline;
  line-height: $header-height--sm;

  @media only screen and (min-width: $breakpoint-sm) {
    line-height: $header-height--lg;
  }
}

// Nav toggle. aka hamburguer button
// Override default btn styles
.nav__toggle {
  font-weight: 700;
  height: 35px;
  letter-spacing: .1rem;
  line-height: 16px;
  padding: .5rem;
  text-transform: uppercase;

  @media only screen and (min-width: $breakpoint-sm) {
    display: none;
  }
}

.nav__list {
  display: none;
  float: right;
  font-family: $base-font-family;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;

  @media only screen and (min-width: $breakpoint-sm) {
    display: inline-block;
    line-height: $header-height--lg;
  }
}

.nav__list__item {
  display: inline;
}
.nav__list__item a {
  border-radius: 5px;
  color: color(black);
  margin: $spacing-unit / 2;
  padding: $spacing-unit / 2;
  transition: all .3s ease-in-out;

  &:hover {
    background: color(red);
    color: color(white);
    text-decoration: none;
  }
}
