/* ============================== *\
 * Header
\* ============================== */

$header-height: 100px;

/*
 * Site header
 */
.site-header {
  border-bottom: 3px solid color(red);
  height: $header-height;
  padding: 10px 0;
}

.site-header__logo {
  cursor: pointer;
  height: 80px;
}

/*
 * Navigation bar
 */
.nav {
  display: inline;
  line-height: $header-height;
}

.nav__list {
  display: inline-block;
  float: right;
  font-family: $base-font-family;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.nav__list__item {
  display: inline;
}
.nav__list__item a {
  color: color(black);
  margin: $spacing-unit / 2;
  padding: $spacing-unit / 2;
}
.nav__list__item a:hover {
  background: color(red);
  border-radius: 5px;
  color: color(white);
  text-decoration: none;
}
