/* ============================== *\
 * Header
\* ============================== */

$header-height--sm: 60px;
$header-height--lg: 120px;

/*
 * Site header
 */
.site-header {
  border-bottom: 3px solid color(red);
  height: $header-height--sm;
  padding: 10px 0;

  @media only screen and (min-width: $breakpoint-sm) {
    height: $header-height--lg;
  }
}

.site-header__link {
  line-height: $header-height--sm;

  &:hover {
    text-decoration: none;
  }

  @media only screen and (min-width: $breakpoint-sm) {
    line-height: $header-height--lg;
  }
}

.site-header__logo {
  cursor: pointer;
  height: auto;
  width: 180px;

  @media only screen and (min-width: $breakpoint-sm) {
    height: 80px;
    width: auto;
  }
}

/*
 * Navigation bar
 */
.nav {
  display: inline;
  line-height: $header-height--sm;

  @media only screen and (min-width: $breakpoint-sm) {
    line-height: $header-height--lg;
  }
}

// Nav toggle. aka hamburguer button
// Override default btn styles
.nav__toggle {
  font-weight: 700;
  height: 35px;
  letter-spacing: .1rem;
  line-height: 16px;
  padding: .5rem;
  text-transform: uppercase;

  @media only screen and (min-width: $breakpoint-sm) {
    display: none;
  }
}

.nav__list {
  background-color: color(white);
  display: block;
  float: right;
  font-family: $base-font-family;
  font-weight: 700;
  left: 0;
  list-style: none;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-transform: capitalize;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 200;

  @media only screen and (min-width: $breakpoint-sm) {
    background-color: color(white);
    display: inline;
    float: none;
    line-height: $header-height--lg;
    position: relative;
  }
}
.nav__list.is-visible {
  opacity: 1;
}

.nav__list__item {
  border-bottom: 2px solid color(red);
  display: block;
  line-height: 3;

  &:first-child {
    border-top: 2px solid color(red);
  }

  @media only screen and (min-width: $breakpoint-sm) {
    display: inline;
  }
}
.nav__list__item a {
  border-radius: 0;
  color: color(red);
  display: block;
  margin: 0;
  padding: 0 $spacing-unit / 2;
  transition: all .3s ease-in-out;

  &:hover {
    background: color(red);
    color: color(white);
    text-decoration: none;
  }

  @media only screen and (min-width: $breakpoint-sm) {
    border-radius: 5px;
    color: color(black);
    display: inline;
    margin: $spacing-unit / 2;
    padding: $spacing-unit / 2;

    &:hover {
      background: color(red);
      color: color(white);
      text-decoration: none;
    }
  }
}
